{% extends "index.html" %}


{% block title %}{{config.title}} - {{page.title}}{% endblock title %}
{% block og_title %}{{ page.title }} - {{ config.title }}{% endblock og_title %}
{% block meta_description %}{% if page.description %}{{ page.description }}{% elif page.summary %}{{ page.summary | striptags | trim | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}{% endblock meta_description %}
{% block og_description %}{% if page.description %}{{ page.description }}{% elif page.summary %}{{ page.summary | striptags | trim | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}{% endblock og_description %}

{% component render_toc(items) %}
<ul>
    {% for heading in items %}
    <li>
        <a href="{{ heading.permalink | safe }}" class="toc-link">{{ heading.title }}</a>
        {% if heading.children %}
            {{ <render_toc items={heading.children} /> }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endcomponent render_toc %}

{% block content %}

{% if page.toc %}
<details class="post-toc" id="post-toc" open>
    <summary class="post-toc-title">文章目录</summary>
    <div class="post-toc-content">
        <nav id="TableOfContents">
            {{ <render_toc items={page.toc} /> }}
        </nav>
    </div>
</details>
{% endif %}

<article class="post">
    {{ <post_title page={page} /> }}
    <div class="post-content">
      {{ page.content | safe }}
    </div>

    {% block page_before_footer %}
    {% endblock page_before_footer %}

    <div class="post-footer">
        {% block page_footer %}
            {% if page.taxonomies.tags %}
                <div class="post-tags">
                    {% for tag in page.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if page.lower or page.higher %}
                <div class="post-nav">
                    {% if page.lower %}
                        <a class="previous" href="{{ page.lower.permalink }}">‹ {{ page.lower.title }}</a>
                    {% endif %}
                    {% if page.higher %}
                        <a class="next" href="{{ page.higher.permalink }}">{{ page.higher.title }} ›</a>
                    {% endif %}
                </div>
            {% endif %}

        {% endblock page_footer %}

    </div>

    {% block page_after_footer %}
    {% endblock page_after_footer %}
</article>

{% endblock content %}
