{% component post_title(page) %}
    <header class="post__header">
        <h1 class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
        <div class="post__meta">
            {% if page.date %}<span class="post__time">发布于 {{ page.date | date(format="%F %T") }}</span>{% endif %}
            {% if page.updated and page.updated != page.date %}
                <span> | </span>
                <span class="post__updated_time">最后更新于 {{ page.updated | date(format="%F %T") }}</span>
            {% endif %}
            {% if page.taxonomies.categories %}
                <div class="post__category">
                    {% for category in page.taxonomies.categories %}
                        <a href="{{ get_taxonomy_url(kind="categories", term=category) }}">{{ category }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </header>
{% endcomponent post_title %}
